---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro Login Template.">
  <h1>Astro Login Template with AstroDB</h1>
  <h2>Edd</h2>y besame mi amor
  <p>This is a simple login template with AstroDB. You can have sex with it.</p>
</Layout>
